[package]
name = "ucel-symbol-core"
version = "0.1.0"
edition = "2021"

[dependencies]
rust_decimal.workspace = true
serde.workspace = true
serde_json.workspace = true
uuid.workspace = true
thiserror.workspace = true
