[package]
name = "ucel-symbol-adapter"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait.workspace = true
serde.workspace = true
thiserror.workspace = true
ucel-symbol-core = { path = "../ucel-symbol-core" }
